<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MCQ - static</title>
</head>

<body>
    <h1>MCQ question</h1>
    <div class="question">{{question}}</div>
    <div class="question-options">
        <div> <input type="radio" name="answer">{{a}}</input></div>
        <div> <input type="radio" name="answer">{{b}}</input></div>
        <div> <input type="radio" name="answer">{{c}}</input></div>
        <div> <input type="radio" name="answer">{{d}}</input></div>
    </div>
    <div><input type="submit" value="Submit"></div>
</body>

</html>